@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeDown {
  animation: slide-down 1s forwards;
}

.fadeUp {
  animation: slide-up 2s forwards;
}

.fadeUpLoading {
  animation: slide-up-loading 0.5s forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  20% {
    opacity: 1;
    transform: none;
  }
  90% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes slide-up-loading {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/nunito/Nunito-Regular.ttf") format("truetype");
}
